* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  overflow: hidden;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  height: 15.0rem;
  width: 90%;
  padding: 1rem;

  border: 3px solid red;
}

form {
  display: flex;
  justify-content: center;

  width: 100%;
}

input {
  width: 90%;
  height: 5rem;
  text-indent: 0.5rem;
  border: 2px solid tomato;
}

button {
  position: absolute;
  bottom: 1rem;
  right: 3.2rem;

  width: 100px;
  height: 5rem;
}